$tablet-breakpoint: 48rem; // 768px
$desktop-breakpoint: 80rem; // 1280px

$brainFlix-black: #323232;
$brainFlix-blue: #0095FF;
$brainFlix-silver: #AFAFAF;
$brainFlix-darkBlack: #000000;
$brainFlix-darkBlue: #0065AD;
$brainFlix-mercury: #e1e1e1;
$brainFlix-alabaster: #fafafa;