@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;

.upload-form {
  margin: 1rem;
  border-top: 1px solid $brainFlix-mercury;

  @include tablet {
    margin: 2rem;
    margin-top: 0;
  }

  @include desktop {
    margin-left: 1rem;
  }

  &__title {
    margin: 2rem 0;
    font-size: 2rem;

    @include tablet {
      border-bottom: 1px solid $brainFlix-mercury;
      padding-bottom: 1.5rem;
    }
  }

  &__form-container {
    @include desktop {
      display: flex;
      gap: 2rem;
    }
  }

  &__primary-container {
    @include desktop {
      margin-left: 5rem;
      margin: 3rem auto 2rem auto;
      max-width: 80rem;
    }
  }

  &__img-container {
    margin-bottom: 1rem;

    @include desktop {
      width: 35%;
    }
  }

  &__image {
    width: 100%;
    border-radius: 0.25rem;

    @include tablet {
      width: 50%;
    }

    @include desktop {
      width: 100%;
    }
  }

  &__form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5rem;

    @include desktop {
      width: 65%;
    }
  }

  &__input-container {
    margin-bottom: 1rem;
    width: 100%;
  }

  &__input-label {
    display: block;
    margin-bottom: 0.2rem;
    color: $brainFlix-silver;
    font-weight: 700;
  }

  &__input-text {
    box-sizing: border-box;
    padding: 0.5rem;
    border-radius: 6px;
    border: 2px solid $brainFlix-mercury;
    font-size: 1.15rem;
    width: 100%;
    font-family: Avenir;
    background-color: $brainFlix-alabaster;

    @include tablet {
      padding: 1rem;
    }

    &--name {
      height: 3rem;
    }

    &--area {
      resize: none;
      height: 7rem;
      margin-bottom: 1rem;
    }

    &:focus {
      border-color: $brainFlix-blue;
    }

    &::placeholder {
      color: $brainFlix-black;
    }
  }

  &__btn-container {
    width: 100%;

    @include tablet {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      // padding-top: 0.5rem;
    }
  }

  &__btn-submit {
    padding: 0;
    border: none;
    background-color: white;
    width: 100%;
    margin-top: -1.3rem;
  }

  &__link {
    text-decoration: none;
    margin: 0 auto;

    @include tablet {
      margin: 0;

      &--publish {
        order: 1;
      }
    }
  }

  &__cancel {
    color: $brainFlix-blue;
    font-weight: 700;
    margin: 2rem auto;

    text-align: center;
    @include tablet {
      margin-right: 5rem;
      padding-bottom: 0.6rem;
    }
  }

  &__success {
    margin: 0 auto;
    font-size: 1.5rem;

    @include tablet {
      margin-right: 0;
    }
  }
}
